<div class="containerBigCard">
    <div class="bigCardImg">
        <img
         src="../../../assets/hotel.jpg" 
         alt=""
         height="350px"
         >
    </div>
    <div class="bigCardTitle">
        <h1><a href="#">Reserve Seu Quarto Para O Verão</a></h1>
    </div>
    <div class="bigCardDescricao">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet tempus enim, id iaculis metus consequat vitae. Praesent in condimentum felis. Nullam risus risus, dictum condimentum nibh eu, finibus laoreet leo. Aenean sagittis ornare risus a finibus. Nam quis sollicitudin lectus, id venenatis sem. Nulla venenatis ante sed mi semper imperdiet. Sed ac dui in lorem eleifend porta non a dolor. Integer eu lorem augue. Integer efficitur ut dui vitae scelerisque. Donec finibus at arcu vitae imperdiet.
        </p>
    </div>
</div>