<header>
    <app-meu-bar></app-meu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="artigos">
    <div class="artigoPrincipal">
        <app-big-card 
        photo="../../../assets/hotel.jpg"
        title="Reserve Seu Quarto Para O Verão"
        more="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet tempus enim, id iaculis metus consequat vitae. Praesent in condimentum felis. Nullam risus risus, dictum condimentum nibh eu, finibus laoreet leo. Aenean sagittis ornare risus a finibus. Nam quis sollicitudin lectus, id venenatis sem. Nulla venenatis ante sed mi semper imperdiet. Sed ac dui in lorem eleifend porta non a dolor. Integer eu lorem augue. Integer efficitur ut dui vitae scelerisque. Donec finibus at arcu vitae imperdiet."
        ></app-big-card>
    </div>
    <div class="outrosArtigos">
        <app-small-card
        smallPhoto="../../../assets/drac.webp"
        smallCardTitle="Olho So Oque deu!"
        ></app-small-card>
        <app-small-card
        smallPhoto="../../../assets/img2.jpg"
        smallCardTitle="Novos Humanos Chegam!"
        ></app-small-card>
        <app-small-card
        smallPhoto="../../../assets/img3.jpg"
        smallCardTitle="Novos Monstrengos Chegam!"
        ></app-small-card>
    </div>
</div>